.all-grid {
  background-image: url("../assets/ocean.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .single-grid {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }
}
