.ms-Fabric {
  height: 98vh;
  div {
    height: 100%;
  }
  .single-grid {
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .ms-Dialog-main {
    height: auto;
  }
  
  #map-biteModal {
    position: fixed;
  }
}
