.failure-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px 150px 50px;
  padding: 20px;
  gap: 10px;
  
  .modal-element {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    &--play {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }
  
    &--learn {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }
    
    &--menu {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
    
    &--text {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
      justify-self: stretch;
      text-align: center;
    }
    
    &--icon {
      grid-column: 1 / span 3;
      grid-row: 2 / span 1;
      img {
        width: 150px;
      }
    }
  }
}

.start-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 30px 100px;
  padding: 20px;
  gap: 10px;
  
  .start-element {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    &--carousel {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
      border: 2px solid black;
    }
    
    &--text {
      grid-column: 1 / span 3;
      grid-row: 2 / span 1;
      justify-self: stretch;
      text-align: center;
    }
    
    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform .2s;
      img {
        width: 50px;
      }
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  
  .level-icon {
    border-radius: 100px;
    &--easy {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
    &--medium {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }
    &--hard {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }
  }
}


.success-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 150px 100px 100px;
  padding: 20px;
  gap: 10px;
  
  .modal-element {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    &--play {
      grid-column: 3 / span 1;
      grid-row: 4 / span 1;
    }
  
    &--learn {
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
    }
    
    &--menu {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
    }
    
    &--text {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
      justify-self: stretch;
      text-align: center;
    }
    
    &--icon {
      grid-column: 1 / span 3;
      grid-row: 2 / span 1;
      img {
        width: 150px;
      }
    }
    
    &--scores {
      grid-column: 1 / span 3;
      grid-row: 3 / span 1;
      justify-self: stretch;
      .scores-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        padding: 20px;
        gap: 10px;
        .scores-current-score {
          font-size: 50px;
          height: 100px;
          width: 100px;
          background-color: $success;
          color: white;
          border-radius: 100px;
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
        } 
        .scores-easy-score {
          font-size: 20px;
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
          p {
            font-size: 30px;
          }
        }
        .scores-medium-score {
          font-size: 20px;
          grid-column: 3 / span 1;
          grid-row: 1 / span 1;
          p {
            font-size: 30px;
          }
        }
        .scores-hard-score {
          font-size: 20px;
          grid-column: 4 / span 1;
          grid-row: 1 / span 1;
          p {
            font-size: 30px;
          }
        }
        img {
          width: 50px;
        }
      }
    }
  }
}

// TODO modify selector
#map-gameOver-biteModal {
  position: fixed;
}

#map-gameOver-successModal {
  position: fixed;
}

#map-gameStart-startModal {
  position: fixed;
}
