.ms-Fabric {
.score_board {
  position: absolute;
  height: auto;
  .ms-Persona-presence {
    height: 12px;
  }
  .ms-Persona-primaryText {
    font-size: 25px;
  }
  .ms-Persona-initials {
    font-size: 20px;
  }
}
}
