// _todo_ replace the example config values 
// Sizes
//$header-height: 2cm;

//Fonts
//$title-font-size: 24px;

// Colors
//$main-background-color: #ecf0f5;
//$main-detail-color: #303c54;

$themes: (
  even: (
    button-background-color: #8bc34a
  ),
  odd: (
    button-background-color: #fb4c2f
  )
);
